.about {
    padding-top: 32px;
    padding-bottom: 100px;

    @media screen and (min-width: 1334px) {
        padding-bottom: 56px;
        padding-top: 40px;
    }

    @media screen and (min-width: 1766px) {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    &__title {
        color: $blue-text-color;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 50px;

        @media screen and (min-width: 1334px) {
            font-size: 34px;
            font-weight: 600;
        }

        @media screen and (min-width: 1766px) {
            font-size: 48px;
        }
    }

    &__wrap {
        display: flex;
        width: 272px;
        height: 86px;
        background-color: $questions-color;

        @media screen and (min-width: 450px) {
            width: 390px;
        }

        @media screen and (min-width: 1334px) {
            background-image: url(../img/tablet/about/heart@1x-tablet.webp) , url(../img/tablet/about/pink-about@1x-tablet.webp);
            background-repeat: no-repeat;
            background-position: bottom left, top left;
            display: block;
            width: 620px;
            height: 280px;
            border-radius: 50px 0px 0px 0px;
        }

        @media screen and (min-width: 1766px) {
            background-image: url(../img/desktop/heart@1x-desktop.webp), url(../img/desktop/pink-about@1x-desktop.webp);
            background-repeat: no-repeat;
            background-position: bottom left, top left;
            width: 874px;
            height: 400px;
        }
    }

    &__wrap1 {
        display: flex;
        width: 272px;
        height: 86px;
        background-color: #CEF2F0;

        @media screen and (min-width: 450px) {
            width: 390px;
        }

        @media screen and (min-width: 1334px) {
            background-image: url(../img/tablet/about/green-about@1x-tablet.webp);
            background-repeat: no-repeat;
            background-position: bottom left;
            display: block;
            width: 620px;
            height: 280px;
            border-radius: 0px 0px 0px 50px;
        }

        @media screen and (min-width: 1766px) {
            background-image: url(../img/desktop/green-about@1x-desktop.webp);
            background-repeat: no-repeat;
            background-position: bottom left;
            width: 874px;
            height: 400px;
        }
    }

    &__wrap2 {
        display: flex;
        width: 272px;
        height: 86px;
        background-color: $bg-footer;
        position: absolute;
        top: 190px;
        margin-top: 50px;

        @media screen and (min-width: 450px) {
            width: 390px;
        }

        @media screen and (min-width: 1334px) {
            background-image: url(../img/tablet/about/blue-about@1x-tablet.webp) , url(../img/tablet/about/small-heart@1x-tablet.webp);
            background-repeat: no-repeat;
            background-position: top right, bottom right;
            display: block;
            border-radius: 0px 50px 0px 0px;
            width: 620px;
            height: 280px;
            top: 20px;
            right: 69px;
        }

        @media screen and (min-width: 1766px) {
            background-image: url(../img/desktop/blue-about@1x-desktop.webp), url(../img/desktop/small-heart@1x-desktop.webp);
            background-repeat: no-repeat;
            background-position: top right, bottom right;
            width: 874px;
            height: 400px;
            top: 19px;
            right: -6px;
        }
    }

    &__wrap3 {
        display: flex;
        width: 272px;
        height: 86px;
        background-color: #FCE296;
        position: absolute;
        top: 275px;
        margin-top: 50px;

        @media screen and (min-width: 450px) {
            width: 390px;
        }

        @media screen and (min-width: 1334px) {
            background-image: url(../img/tablet/about/yellow-about@1x-tablet.webp);
            background-repeat: no-repeat;
            background-position: right;
            display: block;
            width: 620px;
            height: 280px;
            right: 70px;
            top: 300px;
            border-radius: 0px 0px 50px 0px;
        }

        @media screen and (min-width: 1766px) {
            background-image: url(../img/desktop/yellow-about@1x-desktop.webp);
            background-repeat: no-repeat;
            background-position: right;
            width: 874px;
            height: 400px;
            top: 420px;
            right: -5px;
        }
    }

    &__container {
        position: relative;
    }

    &__text {
        color: #EDBBD6;
        font-family: "Open Sans Hebrew";
        font-size: 35px;
        font-weight: 400;
        line-height: 0.73;
        padding-top: 20px;

        @media screen and (min-width: 450px) {
            font-size: 64px;
            padding-top: 15px;
        }

        @media screen and (min-width: 1334px) {
            font-family: "Open Sans Hebrew";
            font-size: 113.833px;
            font-weight: 300;
            line-height: 0.72;
            padding-top: 90px;
            padding-left: 170px;
        }

        @media screen and (min-width: 1766px) {
            display: none;
        }
    }

    &__item {
        color: $blue-text-color;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 0.72;
        margin-left: 25px;
        padding-top: 30px;

        @media screen and (min-width: 450px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1334px) {
            font-size: 22.767px;
            font-weight: 400;
            line-height: 0.70;
            padding-left: 135px;
        }

        @media screen and (min-width: 1766px) {
            display: none;
        }
    }
}