<section class="about">
    <div class="container about__container">
        <h1 class="about__title">Про клініку в цифрах (2022)</h1>
        <div class="about__wrap">
            <p class="about__text">13 370</p>
            <p class="about__item">щасливих пацієнтів</p>
        </div>
        <div class="about__wrap1">
            <p class="about__text">1 247</p>
            <p class="about__item">лабораторних досліджень</p>
        </div>
        <div class="about__wrap2">
            <p class="about__text">568</p>
            <p class="about__item">вакцинацій</p>
        </div>
        <div class="about__wrap3">
            <p class="about__text">+10</p>
            <p class="about__item">років турботи про Ваших малят</p>
        </div>
    </div>
</section>