<section class="about">
    <div class="container about__container">
        <h1 class="about__title">About the Clinic in Numbers (2022)</h1>
        <div class="about__wrap">
            <p class="about__text">13,370</p>
            <p class="about__item">happy patients</p>
        </div>
        <div class="about__wrap1">
            <p class="about__text">1,247</p>
            <p class="about__item">laboratory tests</p>
        </div>
        <div class="about__wrap2">
            <p class="about__text">568</p>
            <p class="about__item">vaccinations</p>
        </div>
        <div class="about__wrap3">
            <p class="about__text">+10</p>
            <p class="about__item">years of care for your little ones</p>
        </div>
    </div>
</section>