<div data-contact class="backdrop is-hidden">
  <div class="contact">
    <form autocomplete="on" class="contact__form">
      <button data-contact-close class="contact__close">
        <svg class="contact__icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#close-menu"></use>
        </svg>
      </button>
      <h1 class="contact__title">Want us to call you back in 30 seconds?</h1>
      <input
        type="tel"
        name="user-tel"
        placeholder="Your phone number"
        class="contact__input"
        required
      />
      <button class="contact__btn">Call me</button>
      <p class="contact__time timer">
      </p>
    </form>
  </div>
</div>