<section class="doctor">
  <div class="container">
    <ul class="doctor__lists">
      <h2 class="doctor__title">Лікарі</h2>
      <li class="doctor__itemts">
        <h3 class="doctor__text">+100</h3>
        <p class="doctor__text2">досвідчених лікарів</p>
      </li>
      <li class="doctor__itemts2">
        <h3 class="doctor__mintext">
          <span class="doctor__namber">35</span> років
        </h3>
        <p class="doctor__text3">середній стаж</p>
      </li>
    </ul>
    <a href="./portfolio.html">
    <button class="doctor__button">Знайти лікаря</button>
</a>
    <ul class="doctor__list">
      <li class="doctor__item1">
        <picture>
          <source
            srcset="
              ./img/desktop/doctors1@1x-desktop.webp 1x,
              ./img/desktop/doctors1@2x-desktop.webp 2x
            "
            media="(min-width: 1766px)"
          />
          <source
            srcset="
            ./img/tablet/doctor/search-photo1@1x-tablet.webp 1x,
            ./img/tablet/doctor/search-photo1@2x-tablet.webp 2x
            "
            media="(min-width: 1334px)"
          />
          <source
            srcset="
            ./img/mobile/doctor/search-photo1@1x-mobile.webp 1x,
            ./img/mobile/doctor/search-photo1@2x-mobile.webp 2x
            "
            media="(max-width: 1333px)"
          />
          <img
            src="./img/mobile/doctor/search-photo1@1x-mobile.webp"
            alt="doctor"
            class="doctor__img"
          />
        </picture>
      </li>
      <li class="doctor__item2">
        <picture>
          <source
            srcset="
              ./img/desktop/doctors2@1x-desktop.webp 1x,
              ./img/desktop/doctors2@2x-desktop.webp 2x
            "
            media="(min-width: 1766px)"
          />
          <source
            srcset="
            ./img/tablet/doctor/search-photo3@1x-tablet.webp 1x,
            ./img/tablet/doctor/search-photo3@2x-tablet.webp 2x
            "
            media="(min-width: 1334px)"
          />
          <img
            src="./img/desktop/doctors2@1x-desktop.webp"
            alt="doctor"
            class="doctor__img"
          />
        </picture>
        
      </li>
      <li class="doctor__item3">
        <picture>
          <source
            srcset="
              ./img/desktop/doctors3@1x-desktop.webp 1x,
              ./img/desktop/doctors3@2x-desktop.webp 2x
            "
            media="(min-width: 1766px)"
          />
          <source
            srcset="
            ./img/tablet/doctor/search-photo2@1x-tablet.webp 1x,
            ./img/tablet/doctor/search-photo2@2x-tablet.webp 2x
            "
            media="(min-width: 1334px)"
          />
          <source
            srcset="
              ./img/mobile/doctor/search-photo2@1x-mobile.webp 1x,
              ./img/mobile/doctor/search-photo2@2x-mobile.webp 2x
            "
            media="(max-width: 1333px)"
          />
          <img
            src="./img/desktop/doctors3@1x-desktop.webp"
            alt="doctor"
            class="doctor__img"
          />
        </picture>

        <!-- <img
          src="./img/desktop/doctors3@1x-desktop.webp"
          alt="doctor"
          class="doctor__img"
        /> -->
      </li>
    </ul>
  </div>
</section>
