<footer class="footer">
    <div class="footer__div"></div>
    <div class="container">
      <ul class="footer__roll">
        <li class="footer__element">
          <ul class="footer__rosters">
            <li>
              <svg class="footer__icons">
                <use href="./img/symbol-defs.svg#map"></use>
              </svg>
            </li>
            <li>
              <ul class="footer__connection">
                <li>
                  <p class="footer__text">Address:</p>
                </li>
                <li>
                  <p class="footer__subtext">Lviv, Vidrodzhennia Avenue, 121</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__element">
          <ul class="footer__rosters">
            <li>
              <svg class="footer__icons">
                <use href="./img/symbol-defs.svg#mail"></use>
              </svg>
            </li>
            <li>
              <ul class="footer__connection">
                <li>
                  <p class="footer__text">Email:</p>
                </li>
                <li>
                  <p class="footer__subtext">evidence.ua@gmail.com</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__element">
          <ul class="footer__rosters">
            <li>
              <svg class="footer__icons">
                <use href="./img/symbol-defs.svg#phone"></use>
              </svg>
            </li>
            <li>
              <ul class="footer__connection">
                <li>
                  <p class="footer__text">Phone:</p>
                </li>
                <li>
                  <p class="footer__subtext">(800) 000 00 00</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__element">
          <ul class="footer__rost">
            <li>
              <svg class="footer__icons">
                <use href="./img/symbol-defs.svg#instagram"></use>
              </svg>
            </li>
            <li>
              <svg class="footer__icons">
                <use href="./img/symbol-defs.svg#facebook"></use>
              </svg>
            </li>
            <li>
              <svg class="footer__icons">
                <use href="./img/symbol-defs.svg#google"></use>
              </svg>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="footer__schedule">
        <li class="footer__part1">
          <a class="footer__ind" href="./index.html">
            <ul class="footer__catalog">
              <li>
                <img src="./img/symbol-defs.svg#logo" alt="">
              </li>
              <li>
                <picture>
                  <source srcset="./img/desktop/logo@1x-desktop.webp 1x, ./img/desktop/logo@2x-desktop.webp 2x" media="(min-width: 1766px)">
                  <source srcset="./img/tablet/logo@1x-tablet.webp 1x, ./img/tablet/logo@2x-tablet.webp 2x" media="(min-width: 1334px)">
                  <source srcset="./img/mobile/logo@1x-mobile.webp 1x, ./img/mobile/logo@2x-mobile.webp 2x" media="(max-width: 1333px)">
                  <img class="header__logo" src="./img/desktop/logo@1x-desktop.webp" alt="">
                </picture>
              </li>
            </ul>
          </a>
        </li>
        <li class="footer__part2">
          <h2 class="footer__subtitle">Our Clinic</h2>
          <ul class="footer__information">
            <li>
              <a href="#" class="footer__unit">More than 10 years caring for your health</a>
            </li>
            <li>
              <a href="#" class="footer__unit">Clinic for children</a>
            </li>
            <li>
              <a href="#" class="footer__unit">The largest medical center in the region</a>
            </li>
            <li>
              <a href="#" class="footer__unit">Wide range of services</a>
            </li>
            <li>
              <a href="#" class="footer__unit">All types of vaccinations</a>
            </li>
          </ul>
        </li>
        <li class="footer__part3">
          <h2 class="footer__subtitle2">Navigation</h2>
          <ul class="footer__docket">
            <li>
              <a href="#" class="footer__specialness">Home</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">About the Clinic</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Doctors</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Services</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">FAQ</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Reviews</a>
            </li>
          </ul>
        </li>
        <li class="footer__part4">
          <h2 class="footer__subtitle2">Our Services</h2>
          <ul class="footer__docket">
            <li>
              <a href="#" class="footer__specialness">Pediatrics</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Vaccinations</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Diagnostics</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Specialists</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Dentistry</a>
            </li>
            <li>
              <a href="#" class="footer__specialness">Laboratory</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </footer>