<section class="hero">
    <div class="container">
        <h1 class="hero__title">Evidence</h1>
        <p class="hero__text">The territory of modern pediatrics is proof of our love</p>
        <button class="hero__btn" data-modal-open>Make an appointment</button>

        <ul class="hero__list">
            <li class="hero__item">
                <svg class="hero__icon" width="42" height="42">
                    <use href="./img/symbol-defs.svg#phone"></use>
                </svg>
                <h3 class="hero__texts">We'll connect now</h3>
            </li>
            <li class="hero__item">
                <svg class="hero__icon" width="42" height="42">
                    <use href="./img/symbol-defs.svg#calendar"></use>
                </svg>
                <h3 class="hero__texts">Round the clock</h3>
            </li>
            <li class="hero__item">
                <svg class="hero__icon" width="42" height="42">
                    <use href="./img/symbol-defs.svg#wallet"></use>
                </svg>
                <h3 class="hero__texts">Price: 400 UAH</h3>
            </li>
        </ul>

    </div>
</section>