<div class="backdrops is-hidden" data-menu>
    <div class="menu">

        <div class="menu__box">
            <button data-menu-close>
                <svg class="menu__menu">
                    <use href="./img/symbol-defs.svg#close-menu"></use>
                </svg>
            </button>
            <svg class="menu__search">
                <use href="./img/symbol-defs.svg#search"></use>
            </svg>
        </div>

        <div class="menu__container">
            <ul class="menu__lists">
                <li class="menu__items">
                    <svg class="menu__profile">
                        <use href="./img/symbol-defs.svg#profile"></use>
                    </svg>
                    <p class="menu__texts" data-lang-ua="Увійти" data-lang-en="Login">Увійти</p>

                </li>
                <li class="menu__items">
                    <button>
                        <svg class="menu__profile">
                            <use href="./img/symbol-defs.svg#global"></use>
                        </svg>
                    </button>
                    <button class="menu__btn" id="btn-ua" onclick="switchLanguage('ua')">
                        <p class="menu__texts">Укр</p>
                    </button>
                    <p class="menu__width">/</p>
                    <button class="menu__btn" id="btn-en" onclick="switchLanguage('en')">
                        <p>Eng</p>
                    </button>
                </li>
            </ul>
        </div>

        <div class="menu__box3">
            <ul>
                <li class="menu__item">
                    <a class="menu__text" href="./index.html" data-lang-ua="Про нас" data-lang-en="About us">Про
                        нас</a>
                </li>
                <li>
                    <a class="menu__text" data-lang-ua="Вартість" data-lang-en="Cost">Вартість</a>
                </li>
                <li>
                    <a class="menu__text" href="./doctors.html" data-lang-ua="Лікарі" data-lang-en="Doctors">Лікарі</a>
                </li>
                <li>
                    <a class="menu__text" data-lang-ua="Запитання" data-lang-en="Questions">Запитання</a>
                </li>
                <li>
                    <a class="menu__text" data-lang-ua="Відгуки" data-lang-en="Reviews">Відгуки</a>
                </li>
                <li>
                    <a class="menu__text" data-lang-ua="Контакти" data-lang-en="Contacts">Контакти</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="footer__roll">
                <li class="footer__element">
                    <ul class="footer__rosters">
                        <li>
                            <svg class="footer__icons">
                                <use href="./img/symbol-defs.svg#map"></use>
                            </svg>
                        </li>

                        <li>
                            <ul class="footer__connection">
                                <li>
                                    <p class="footer__text" data-lang-ua="Адреса:" data-lang-en="Adress:">Адреса:</p>
                                </li>
                                <li>
                                    <p class="footer__subtext" data-lang-ua="м.Львів, проспект Відродження, 121" data-lang-en="м.Львів, проспект Відродження, 121">м.Львів, проспект Відродження, 121</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="footer__element">
                    <ul class="footer__rosters">
                        <li>
                            <svg class="footer__icons">
                                <use href="./img/symbol-defs.svg#mail"></use>
                            </svg>
                        </li>
                        <li>
                            <ul class="footer__connection">
                                <li>
                                    <p class="footer__text" data-lang-ua="Email" >Email:</p>
                                </li>
                                <li>
                                    <p class="footer__subtext" data-lang-ua="evidence.ua@gmail.com" data-lang-en="evidence.ua@gmail.com">evidence.ua@gmail.com</p>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </li>
                <li class="footer__element">
                    <ul class="footer__rosters">
                        <li>
                            <svg class="footer__icons">
                                <use href="./img/symbol-defs.svg#phone"></use>
                            </svg>
                        </li>
                        <li>
                            <ul class="footer__connection">
                                <li>
                                    <p class="footer__text" data-lang-ua="Телефон:" data-lang-en="Phone number">Телефон:</p>
                                </li>
                                <li>
                                    <p class="footer__subtext">(800) 000 00 00</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="footer__element">
                    <ul class="footer__rost">
                        <li>
                            <svg class="footer__icons">
                                <use href="./img/symbol-defs.svg#instagram"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="footer__icons">
                                <use href="./img/symbol-defs.svg#facebook"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="footer__icons">
                                <use href="./img/symbol-defs.svg#google"></use>
                            </svg>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>