<section class="portfolio">
  <div class="container">
    <div class="portfolio__cont">
      <h2 class="portfolio__title">Лікарі</h2>
      <input
        placeholder="Шукати ім’я, професію"
        type="text"
        class="portfolio__input"
      />
    </div>
    <ul class="portfolio__ways">
      <li class="portfolio__way">
        <a href="" class="portfolio__addressing">Головна</a>
      </li>
      <li class="portfolio__way">
        <svg class="portfolio__icon" width="20" height="20">
          <use href="./img/symbol-defs.svg#arrow"></use>
        </svg>
      </li>
      <li class="portfolio__way">
        <a href="" class="portfolio__addressing portfolio__addressing--checked"
          >Знайти лікаря</a
        >
      </li>
    </ul>
    <ul class="portfolio__profs">
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Всі лікарі</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Педіатри</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Хірург</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Кардіолог</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Невролог</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Гастроентеролог</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Інфекціоніст</a>
      </li>
    </ul>
    <ul class="portfolio__list">
      <div class="portfolio__row">
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors1@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors1@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors1@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors1@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/port-doctors1@1x-mobile.webp 1x,
                    ./img/mobile/doctors/port-doctors1@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors1@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Ткачук Олег Миколайович</h3>
              <p class="portfolio__desc">Кардіолог</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors2@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors2@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors2@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors2@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/port-doctors2@1x-mobile.webp 1x,
                    ./img/mobile/doctors/port-doctors2@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors2@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Демчишин Ярослав Павлович</h3>
              <p class="portfolio__desc">Інфекціоніст</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors3@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors3@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors3@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors3@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/port-doctors3@1x-mobile.webp 1x,
                    ./img/mobile/doctors/port-doctors3@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors3@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Тригуб Анна Вадимівна</h3>
              <p class="portfolio__desc">Педіатр</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors4@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors4@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors4@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors4@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/port-doctors4@1x-mobile.webp 1x,
                    ./img/mobile/doctors/port-doctors4@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors4@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Дронь Алла Сергіївна</h3>
              <p class="portfolio__desc">Невролог</p>
            </article>
          </button>
        </li>
      </div>
      <div class="portfolio__row">
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors5@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors5@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors5@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors5@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-dcotors5@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Пархомчук Альона Василівна</h3>
              <p class="portfolio__desc">Педіатр</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors6@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors6@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors6@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors6@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors6@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Білошицька Анна Олександрівна</h3>
              <p class="portfolio__desc portfolio__desc">
                Консультант з грудного вигодовування
              </p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors7@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors7@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors7@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors7@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors7@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Шевчук Ірина Михайлівна</h3>
              <p class="portfolio__desc">Дитяча лікарка УЗД</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors8@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors8@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors8@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors8@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors8@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Ткачук Олег Миколайович</h3>
              <p class="portfolio__desc">Кардіолог</p>
            </article>
          </button>
        </li>
      </div>
      <div class="portfolio__row">
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors9@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors9@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors9@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors9@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors9@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Маліновський Дмтро Сергійович</h3>
              <p class="portfolio__desc">Вертерболог</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors10@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors10@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors10@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors10@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors10@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Вовк Анатолій Вікторович</h3>
              <p class="portfolio__desc">Лікар УЗД</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors11@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors11@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors11@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors11@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors11@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Янощук Ольга Василівна</h3>
              <p class="portfolio__desc">Педіатр</p>
            </article>
          </button>
        </li>
        <li class="portfolio__item">
          <button class="portfolio__btn">
            <article class="portfolio__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/port-doctors12@1x-desktop.webp 1x,
                    ./img/desktop/port-doctors12@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/port-doctors12@1x-tablet.webp 1x,
                    ./img/tablet/doctors/port-doctors12@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <img
                  class="portfolio__photo"
                  alt=""
                  src="./img/mobile/doctors/port-doctors12@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="portfolio__subtitle">Ямкова Ольга Олександрівна</h3>
              <p class="portfolio__desc">Гастроентеролог</p>
            </article>
          </button>
        </li>
      </div>
    </ul>
    <button class="portfolio__more">
      Дивитись ще
      <svg class="portfolio__reload" width="24" height="24">
        <use href="./img/symbol-defs.svg#arrow-repeat"></use>
      </svg>
    </button>
  </div>
</section>
