.backdrops {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    display: none;
    pointer-events: none;
    visibility: hidden;
}

.menu {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 48px 40px;

    @media screen and (min-width: 900px) {
        padding: 48px 175px;
    }

    @media screen and (min-width: 1100px) {
        padding: 48px 265px;
    }

    @media screen and (min-width: 1200px) {
        padding: 48px 300px;
    }


    @media screen and (min-width: 1334px) {
        display: none;
    }

    &__menu {
        fill: transparent;
        stroke: $svg-color;
        width: 24px;
        height: 24px;
    }


    &__box {
        display: flex;
        position: relative;
    }

    &__search {
        fill: transparent;
        stroke: $svg-color;
        width: 20px;
        height: 20px;
        margin-left: 225px;

        @media screen and (min-width: 450px) {
            margin-left: 315px;
        }

        @media screen and (min-width: 550px) {
            margin-left: 400px;
        }
    }

    &__profile {
        background-color: transparent;
        fill: transparent;
        stroke: $svg-color;
        width: 24px;
        height: 24px;
    }

    &__container {
        margin-top: 40px;
    }

    &__lists {
        display: block;

        @media screen and (min-width: 450px) {
            display: flex;
        }
    }

    &__items {
        margin-top: 25px;
        margin-right: 200px;
        display: flex;

        @media screen and (min-width: 550px) {
            margin-right: 350px;
        }
    }

    &__box3 {
        margin-top: 23px;
        margin-bottom: 80px;
    }

    &__texts {
        margin-left: 14px;
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;

        &:hover {
            color: $svg-color;
        }
    }

    &__width {
        margin-left: 10px;
        margin-right: 10px;
        height: 16px;
    }

    &__btn {
        background-color: transparent;

        &:hover {
            color: $svg-color;
        }
    }
}